<h1>Stupid Coaching</h1>
<div>
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<div>
  <p><strong><%= @answer %></strong></p>
  <p><em>-Your coach</em></p>
</div>

<%# <%= link_to ANCHOR_TEXT, ANCHOR_URL %>
<p><%= link_to "Ask us more questions", ask_path %></p>
