<%# <form action="/answer" data-turbo="false">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form> %>

<%# Here we want the form to trigger our second user story: answer, which should be routed on /answer. Go ahead and replace the ??? above and try to submit the form.%>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit">
</form>
